/* Global CSS */
body {
  background: hsl(229, 57%, 11%);
  font-size: 14px;
  color: #fff;
  font-family: "Raleway", serif;
  font-weight: 400;
}

.container bold {
  font-weight: 700;
}

.container {
  background: hsl(228, 56%, 26%);
  width: 25%;
  margin: auto;
  position: relative;
  top: 25%;
}

.container .nav {
  padding: 75px 100px 100px 50px;
  border-top-left-radius: 6%;
  border-bottom-left-radius: 6%;
  border-top-right-radius: 36%;
  border-bottom-right-radius: 6%;
  left: 25%;
}

.container .nav .logo {
  background: url(images/logo.svg);
  display: block;
  width: 100%;
  height: 82px;
  background-repeat: no-repeat;
}

/* Desktop CSS */
@media screen and (min-width: 376px) {
}

/* Mobile CSS */
@media screen and (max-width: 375px) {
}
